# dependencies
/node_modules
/.pnp
.pnp.js

# misc
.DS_Store
secrets.js

# dotenv environment variables file
.env
.env.test

# data
*.db3
data/migrations/
data/seeds/

npm-debug.log*
yarn-debug.log*
yarn-error.log*